################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
pokerHands.exe
printTests.exe
/build
/out
/pokerHandsTests
